name: CI Ubuntu (Ninja + APT)

on:
  push:
    branches: ["main", "develop"]
  pull_request:
    branches: ["main", "develop"]
  workflow_dispatch:

env:
  CMAKE_GENERATOR: Ninja

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 25

    strategy:
      matrix:
        build-type: [Release, Debug]
        include:
          - build-type: Release
            preset: release-ninja-linux
          - build-type: Debug
            preset: debug-ninja-linux

    steps:
      # ====================================================================
      # Checkout
      # ====================================================================
   
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
         submodules: recursive
         fetch-depth: 0

      # ====================================================================
      # Install dependencies via APT (standard Linux package manager)
      # ====================================================================
      - name: Install APT dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential

          sudo apt install -y libspdlog-dev 
          sudo apt install -y libexiv2-dev
          sudo apt install -y libmagicenum-dev
          
          sudo apt install -y libcurl4-openssl-dev
          sudo apt install -y libxkbcommon-dev

      # ====================================================================
      # Setup Python and install Halide via pip
      # ====================================================================
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: pip halide
        run: |
         pip install halide

      # ====================================================================
      # Installation of Qt 6.9.3 with the dedicated action
      # ====================================================================
      - name: Setup Qt 6.9.3 Environment
        uses: jurplel/install-qt-action@v4 
        with:
          version: '6.9.3'
          target: 'desktop'
          host: 'linux'
          modules: 'qtshadertools'

      # ====================================================================
      # BUILD AND INSTALL OpenImageIO 3.1.8 from source
      # ====================================================================
      - name: Install dependencies for OpenImageIO
        run: |
          sudo apt install -y \
          libjpeg-dev \
          libfreetype-dev \
          libpng-dev \
          libuhd-dev \
          libraw-dev \
          libopencv-core-dev libopencv-imgproc-dev \
          libjxl-dev \
          libheif-dev \
          libpystring-dev \
          libtiff-dev \
          libimath-dev \
          libopenexr-dev \
          libopencolorio-dev \
          zlib1g-dev \
          libjpeg-turbo8-dev
        shell: bash
        
      - name: Build and Install OpenImageIO 3.1.8.0
        run: |
          git clone https://github.com/AcademySoftwareFoundation/OpenImageIO.git /tmp/oiio-src
          cd /tmp/oiio-src
          git checkout v3.1.8.0
          
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=${{ matrix.build-type }} \
                 -DCMAKE_INSTALL_PREFIX=/opt/oiio \
                 -DOpenImageIO_BUILD_MISSING_DEPS=required \
                 -DSTOP_ON_WARNING=0 \
                 -DOIIO_BUILD_TOOLS=OFF \
                 -DOIIO_BUILD_TESTS=OFF \
                 -DUSE_PYTHON=OFF \
                 ..

          cmake --build . --parallel $(nproc)
          sudo cmake --install .
          
          echo "CMAKE_PREFIX_PATH=/opt/oiio:$CMAKE_PREFIX_PATH" >> $GITHUB_ENV
        shell: bash
      # ====================================================================
      # Configure cmake environment
      # ====================================================================
      - name: Configure CMake Project
        run: |
          
          TESTS_FLAG=""
          
          if [ -d "tests" ] && [ "$(ls -A tests 2>/dev/null)" ]; then
            TESTS_FLAG="-DBUILD_TESTS=ON"
            echo "::notice file=tests::the directory 'tests' exists and is not empty. Tests enabled."
          else
            echo "::warning file=tests::the directory 'tests' is empty or missing. Tests disabled"
          fi

          cmake \
          --preset ${{ matrix.preset }} \
          -DBUILD_DESKTOP_UI:BOOL=ON \
          ${TESTS_FLAG} \
          -DCMAKE_BUILD_TYPE=${{ matrix.build-type }}
        shell: bash

      # ====================================================================
      # Build
      # ====================================================================
      - name: Build Project
        run: |
           cmake --build build/${{ matrix.preset }} --config ${{ matrix.build-type }} --parallel $(nproc)
        shell: bash

      # ====================================================================
      # Test
      # ====================================================================
      - name: Run Tests
        if: ${{ always() && steps.configure.outcome == 'success' }}
        run: |
          cd build/${{ matrix.preset }}
          ctest --output-on-failure -C ${{ matrix.build-type }}
        shell: bash

      # ====================================================================
      # Upload build artifacts
      # ====================================================================
      - name: Upload build artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: build-ubuntu-${{ matrix.build-type }}
          path: |
            build/${{ matrix.preset }}/ui/desktop/capturemoment_desktop
          retention-days: 7
          if-no-files-found: warn